<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"> -->
<nav class="navbar navbar-default navbar-trans navbar-expand-md fixed-top">
	<!-- <div class="container"> -->
	<!-- <a class="navbar-brand" href="/">ツール置き場</a> -->
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber"
		aria-expanded="false" aria-label="ナビゲーションの切替">
		<!-- <span class="navbar-toggler-icon"></span> -->
		<i class="fas fa-bars"></i>
	</button>

	<div class="collapse navbar-collapse" id="Navber">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item {if $activePage === 0}active{/if}"><a class="nav-link" href="/">トップ</a></li>
			<li class="nav-item {if $activePage === 1}active{/if}"><a class="nav-link" href="/tools">ツール</a></li>
			<li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">リンク</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="https://github.com/atka-mackerel/phpdev" target="blank">GitHub</a>
				</div></li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
	<!-- </div> -->
</nav>