<!DOCTYPE html>
<html ng-app="myApp" lang="ja">
<head>{include file='./header.html'}
</head>
<body>
	{include file='./navigator.html'}
	<div class="container-fluid main-conteiner">
		{include file='./breadcrumb.html'}
		<div class="widget-a">
			<div class="w-body-a">
				<ul class="list-unstyled">
					<li class="item-list-a"><i class="fas fa-angle-right color-b"></i><a href="/tools/csv">CSV解析</a></li>
				</ul>
			</div>
		</div>
	</div>

	{include file='./footer.html'}
	{include file='./script.html'}
</body>
</html>